<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_FILE" value="monarch"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger level="DEBUG" name="com.github.whymesay.toy"/>
    <root level="ERROE">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
